<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Compass Starter by Ariona, Rian</title>

		
		<!-- Loading main css file -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
        
        <!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="/static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">


	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="/static/images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Finding Kor Weather</h1>
							<small class="site-description">Finding weather of Korean main cities</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/templates/weather.html">World weather Search</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->
            
            
            <div class="hero" height="100%" data-bg-image= "/static/images/{{weather2.icon}}.jpg">
        

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo"></p></div>
                                <div class="date"><p id="date"></p></div>
                            </div> <!-- .forecast-header -->
                            <script>
                                var d = new Date();
                                var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                                document.getElementById("demo").innerHTML = days[d.getDay()];

                                y = d.getFullYear();
                                m = d.getMonth() + 1;
                                d = d.getDate();
                                document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
                            </script>
							<div class="forecast-content">
								<div class="location" style = "text-transform:capitalize;">{{place_name}}</div>
								<div class="degree">
									<div class="num">{{weather2.temperature}}<sup>o</sup>C</div>
									<div class="forecast-icon">
                                        <img src="/static/images/icons/{{weather2.icon}}.svg" alt="" width=90 
                                        style="position: relative;left: 28px;">
                                    </div>	
                                    <div id="description" style="text-align: right;position: relative;
                                    bottom: 20px;">{{weather2.description}}</div>
								</div>
								<span><img src="/static/images/icon-umberella.png" alt="">{{weather.ratio}}</span>
								<span><img src="/static/images/icon-wind.png" alt="">{{weather.windspeed}}</span>
                                <span><img src="/static/images/icon-humidity.png" alt="">{{weather.humidity}}</span>
                                <div style="font-size: 8px;display: inline;position:relative;right:18px">(<a target="_blank" href="https://icons8.com/icons/set/humidity" >Humidity icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>)</div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo1"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo2"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo3"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo4"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo5"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><p id="demo6"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="/static/images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
                        </div>
                        <script>
                            var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
                            var d = new Date();
                            var tomorrow = new Date(d);
                            var tom2 = new Date(d);
                            var tom3 = new Date(d);
                            var tom4 = new Date(d);
                            var tom5 = new Date(d);
                            var tom6 = new Date(d);
                            tomorrow.setDate(tomorrow.getDate() + 1)
                            tom2.setDate(tomorrow.getDate() + 1)
                            tom3.setDate(tomorrow.getDate() + 2)
                            tom4.setDate(tomorrow.getDate() + 3)
                            tom5.setDate(tomorrow.getDate() + 4)
                            tom6.setDate(tomorrow.getDate() + 5)
                            document.getElementById("demo1").innerHTML = days[tomorrow.getDay()];
                            document.getElementById("demo2").innerHTML = days[tom2.getDay()];
                            document.getElementById("demo3").innerHTML = days[tom3.getDay()];
                            document.getElementById("demo4").innerHTML = days[tom4.getDay()];
                            document.getElementById("demo5").innerHTML = days[tom5.getDay()];
                            document.getElementById("demo6").innerHTML = days[tom6.getDay()];
                            </script>
					</div>
				</div>
			</div>
			

			<footer class="site-footer">
				<div class="container">
					<div class="row">

						<div class="col-md-3 col-md-offset-1" >
							<div class="social-links">
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>

				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="/static/js/jquery-1.11.1.min.js"></script>
		<script src="/static/js/plugins.js"></script>
		<script src="/static/js/app.js"></script>
		
	</body>

</html>